@import "variables";

/* Material buttons */
.mat-flat-button,
.mat-stroked-button {
  margin-bottom: 1rem !important;
  outline: none !important;

  i {
    margin-right: 8px;
  }
}

/* Flat buttons*/
.mat-flat-button.mat-primary {
  border: 1px solid transparent;
  background-color: $yellow;
  color: $dark-grey !important;
  transition: 0.5;
  &:hover,
  &:focus {
    color: $yellow !important;
    border: 1px solid $yellow !important;
    background-color: transparent !important;
  }
}

.mat-flat-button.mat-accent {
  border: 1px solid transparent;
  background-color: $dark-grey;
  color: $yellow !important;
  transition: 0.5;
  &:hover,
  &:focus {
    color: $yellow !important;
    border: 1px solid $yellow !important;
    background-color: transparent !important;
  }
}

.mat-button__full {
  button {
    width: 100%;
  }
}

/* Stroked buttons*/
.mat-stroked-button.mat-primary {
  border-color: $yellow !important;
  color: $yellow !important;
  box-shadow: inset 0px 0px 0px $yellow !important;
  transition: all 0.8s !important;
  &:hover,
  &:focus {
    color: $dark-grey !important;
    box-shadow: inset 10rem 0px 0px $yellow !important;
  }
}

.mat-stroked-button.mat-accent {
  border-color: $dark-grey !important;
  color: $dark-grey !important;
  box-shadow: inset 0px 0px 0px $dark-grey !important;
  transition: all 0.8s !important;
  &:hover,
  &:focus {
    color: $smoke-white !important;
    box-shadow: inset 10rem 0px 0px $dark-grey !important;
  }
}

.mat-button__full {
  .mat-stroked-button.mat-primary {
    &:hover,
    &:focus {
      color: $dark-grey !important;
      box-shadow: inset 10rem 0px 0px 10rem $yellow !important;
    }
  }
  .mat-stroked-button.mat-accent {
    &:hover,
    &:focus {
      color: $smoke-white !important;
      box-shadow: inset 10rem 0px 0px 10rem $dark-grey !important;
    }
  }
}
