<app-hero></app-hero>
  <section class="about-us app-section">
    <div class="app-container">
      <div class="content">
        <h3 class="section-tittle text-right">Sobre nosotros</h3>
        <div class="text">
          <p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Architecto, distinctio. Tempora quibusdam
            officiis iure alias magnam maiores molestias veniam atque reprehenderit. Omnis molestias tempora repellat
            impedit sunt reprehenderit dicta, quas nobis aspernatur aperiam..</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptate architecto et molestiae quos
            voluptatem vero consequuntur nisi. Sed a itaque, tempore facere aliquid illum in, nesciunt vel assumenda
            modi. Error sint pariatur vel itaque reiciendis ea et eos eum alias, magni temporibus fuga vero quis
            dolorem..</p>
        </div>
      </div>
      <div class="image">
      </div>
    </div>
  </section>
  <section  class="app-container app-section" fxLayout="column" fxFlexAlign="stretch">
    <h2 class="section-tittle text-center">Nuevos vehiculos</h2>
    <p class="section-subtittle text-center">Descubre los últimos modelos de nuestra flota.</p>
    <app-carousel class="mt-3"></app-carousel>
  </section>
  <section class="app-container app-section" fxLayout="column" fxFlexAlign="stretch">
    <h2 class="section-tittle text-center">Preguntas frecuentes</h2>
    <app-expansion class="mt-3"></app-expansion>
  </section>
