<app-hero></app-hero>
<section fxLayout="column" fxFlexAlign="stretch">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati necessitatibus ea, quod vitae molestiae temporibus quis totam laudantium maxime laboriosam alias magni sint animi, cumque harum dignissimos enim dolor!</p>
  <p>Dolor explicabo repellat quas ea quis exercitationem officia itaque deserunt pariatur? Reprehenderit facilis perspiciatis aspernatur qui atque molestias possimus ratione dicta pariatur quas id doloremque distinctio excepturi, reiciendis, eos totam?</p>
  <p>In similique harum animi natus earum aspernatur cupiditate blanditiis modi dolor vero incidunt illum, dolore quis accusamus non fuga laudantium officiis dicta magni ipsum eveniet? Iste eius aspernatur facere voluptate.</p>
  <p>Itaque odio voluptatum veritatis necessitatibus dolorum, cupiditate architecto ducimus recusandae laboriosam atque quidem molestiae iure optio voluptatibus magnam nobis sed tempora in. Aperiam laboriosam ea labore animi accusamus! Ab, totam.</p>
</section>
<section fxLayout="column" fxFlexAlign="stretch">
<app-car-card></app-car-card>
<app-car-card></app-car-card>
<app-car-card></app-car-card>
</section>
