@import 'variables';

.shared {
  background-color: white;
  padding: 70px;
  margin-bottom: 70px;
  border-radius: 8px;
  border: 2px solid $yellow;
  .form-wrapper{
    position: relative;
    width: fit-content;
    form{
      max-width: 480px;
    }
  }
}
