<div class="mt-5">
  <h1 class="mb-4">Typography</h1>
  <h2 class="hero-tittle">Hero tittle</h2>
  <h2 class="section-tittle">Section tittle</h2>
  <h3 class="section-subtittle">Section subtittle</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quaerat doloribus asperiores? Pariatur eum nobis
    aspernatur libero. Velit, mollitia quod. Ipsa quos sequi tenetur cupiditate officiis ut ipsam voluptatum! Minus.
  </p>
</div>
<div class="mt-5">
  <h1 class="mb-4">Links</h1>
  <a href="" class="app-a">Link 1</a>
  <a href="" class="app-a">Link 2</a>
  <a href="" class="app-a">Link 3</a>
</div>
<div class="mt-5">
  <h1 class="mb-4">Buttons</h1>
  <button>Boton</button>
</div>
<div class="mt-5">
  <h1 class="mb-4">Code</h1>
  <code>const parameter-100</code>
</div>
<div class="mt-5">
  <h1 class="mb-4">Input</h1>
  <input type="text">
</div>
<!-- <div class="app-section">
  <h1 class="mb-5">Material typography</h1>
  <h1 class="mat-display-4">display-4 &mdash; 112px light</h1>
  <h2 class="mat-display-3">display-3 &mdash; 56px normal</h2>
  <h3 class="mat-display-2">display-2 &mdash; 45px normal</h3>
  <h4 class="mat-display-1">display-1 &mdash; 34px normal</h4>
  <h1 class="mat-headline">headline (h1) &mdash; 24px normal</h1>
  <h2 class="mat-title">title (h2) &mdash; 20px medium</h2>
  <h3 class="mat-subheading-2">subheading-2 (h3) &mdash; 16px normal</h3>
  <h4 class="mat-subheading-1">subheading-1 (h4) &mdash; 15px normal</h4>
  <p class="mat-body-1">body-1 &mdash; 14px normal</p>
  <p class="mat-body-2">body-2 &mdash; 14px medium</p>
  <p class="mat-caption">caption &mdash; 12px normal</p>
</div> -->
