<mat-card class="car-card">
  <mat-card-header>
    <img mat-card-image src="assets/images/default-car-img.png" alt="Photo of a Shiba Inu">
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>Modelo</mat-card-title>
    <mat-card-subtitle class="yellow-text">Categoria</mat-card-subtitle>
    <div class="car-card__features">
      <div class="feature-item"><img class="card-img-top" src="assets/images/iconos/combustible.svg"
          alt="Incono combustible">
        <p>Gasolina</p>
      </div>
      <div class="feature-item"><img class="card-img-top" src="assets/images/iconos/puerta.svg" alt="Icono puerta">
        <p>5 Puertas</p>
      </div>
      <div class="feature-item"><img class="card-img-top" src="assets/images/iconos/palanca-de-cambios.svg"
          alt="Icono palanca de cambio">
        <p>Automático</p>
      </div>
      <div class="feature-item"><img class="card-img-top" src="assets/images/iconos/asiento-coche.svg"
          alt="Iciono asiento coche">
        <p>5 plazas</p>
      </div>
      <div class="feature-item"><img class="card-img-top" src="assets/images/iconos/maleta.svg" alt="Icono amelta">
        <p>6 Maletas</p></div>
      <div class="feature-item"><img class="card-img-top" src="assets/images/iconos/maleta.svg" alt="Icono amelta">
        <p>6 maletas</p></div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="price">
      <p>A partir de</p>
      <span>60,50€</span>
    </div>
    <div class="action">
      <a href="">Alquilar</a>
    </div>
  </mat-card-actions>
</mat-card>
