<div class="app-page app-login text-grey"  fxLayout="row" fxLayoutAlign="center center" >
  <div class="container" fxLayout="row">
    <div class="form-wrapper " fxFlex="40"  fxLayout="column" fxLayoutAlign="center center" >
      <h2 class="section-tittle">Acceso clientes</h2>
      <p class="section-subtittle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <app-login-form></app-login-form>
      <!-- <app-dialog></app-dialog> -->
    </div>
    <div>
    </div>
  </div>
</div>
