@import 'variables';

.app-login{
  background-color: $black;
  height: 100%;
  padding: 70px 0;
  background-image: url('/assets/images/login-backgraund.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: 100%;
  .section-subtittle{
    margin-bottom: 24px;
  }
}
