<section>
  <form fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. yourmail@gmail.com" ngModel name="email">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Contraña</mat-label>
      <input type="password" matInput placeholder="Intriduzca una contraseña..." ngModel name="password">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Repetir contraseña</mat-label>
      <input type="password" matInput placeholder="Repita su contraseña..." ngModel name="passwordConfirm">
    </mat-form-field>
    <button  type="submit" mat-flat-button color="primary">Resgistrarme</button>
  </form>
</section>
