@import 'variables';

.password{
  position: relative;
  &__actions{
      position: absolute;
      top: 15px;
      right: 12px;
      color: $yellow;
  }
  &__actions.hide{
    color: $light-grey;
}
}
