@import "variables";

.mat-toolbar.mat-toolbar-single-row {
  height: 80px;
  padding: 0 60px 0 40px;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid $yellow;
  @media (max-width: 480px) {
    padding: 0 8px;
  }

  button:focus {
    outline: none !important;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:active {
    color: $yellow;
  }

  .navigation-items {
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    .nav-item_active{
      font-weight: 500;
      color: $yellow;
    }
    .nav-button {
      text-transform: uppercase;
      border-color: $yellow;
      margin-bottom: 0px !important;
    }
  }
  .nav-logo {
    @media (max-width: 601px) {
      margin-left: auto;
    }
  }

  .nav-social {
    margin-left: 30px;
    box-sizing: unset !important;
    height: 100%;
    background-color: $yellow;
    border-top: 1px solid $yellow;
    a {
      margin: 0px 15px;
      &:hover, &:focus{
        color: $black;
      }
      i {
        font-size: 20px;
      }
    }
  }
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark {
  background-color: $black;
}
