@import "variables";

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  height: 80px;
  font-size: 16px;
  padding: 0px 10%;
  display: block;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid $light-yellow;
  button:focus {
    outline: none;
  }
}

.transparent {
  background-color: transparent;
}

.dark {
  background-color: $black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  font-size: 14px;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  .nav-button {
    text-transform: uppercase;
    border-color: $yellow;
    margin-bottom: 0px;
  }
}

.social {
  i {
    font-size: 16px;
  }
}
