@import "variables";

.mat-toolbar.mat-toolbar-single-row {
  height: 80px;
  padding: 0 60px 0 40px;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid $yellow;
  @media (max-width: 480px) {
    padding: 0 8px;
  }

  button:focus {
    outline: none !important;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:active {
    color: $yellow;
  }

  .navigation-items {
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    .nav-item_active {
      font-weight: 500;
      color: $yellow;
    }
    .nav-button {
      text-transform: uppercase;
      border-color: $yellow;
      margin-bottom: 0px !important;
    }
  }
  .nav-logo {
    @media (max-width: 601px) {
      margin-left: auto;
    }
  }

  .nav-social {
    box-sizing: unset !important;
    height: 100%;
    background-color: $yellow;
    border-top: 1px solid $yellow;
    a {
      margin: 0px 15px;
      &:hover,
      &:focus {
        color: $black;
      }
      i {
        font-size: 20px;
      }
    }
  }
}

.nav-profile {
  margin-left: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  p {
    text-transform: uppercase;
    margin: 0px;
    i {
      margin-left: 8px;
    }
  }
  img {
    width: 30px;
  }
  &__submenu {
    i {
      margin-right: 8px;
    }
  }
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark {
  background-color: $black;
}

.mat-menu-content {
  padding: 8px 4px;
  .mat-menu-item {
    &:focus {
      outline: 5px auto rgba(0, 0, 0, 0.04);
    }
  }
}
