<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()" (logout)="onLogout()" [isAuth]="isAuth$ | async"
    [user]="user$ | async"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navigation (logout)="onLogout()" (sidenavToggle)="sidenav.toggle()" [isAuth]="isAuth$ | async"
    [user]="user$ | async"></app-navigation>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
