<owl-carousel-o [options]="customOptions" class="owl-custom">
  <ng-template carouselSlide>
   <app-car-card></app-car-card>
  </ng-template>
  <ng-template carouselSlide>
    <app-car-card></app-car-card>
  </ng-template>
  <ng-template carouselSlide>
    <app-car-card></app-car-card>
  </ng-template>
  <ng-template carouselSlide>
    <app-car-card></app-car-card>
  </ng-template>
  <ng-template carouselSlide>
    <app-car-card></app-car-card>
  </ng-template>
  <ng-template carouselSlide>
    <app-car-card></app-car-card>
  </ng-template>
</owl-carousel-o>
