

$white:#ffffff;
$smoke-white: #fefefd;
$black:#141414;
$light-grey: #c2c2c2;
$grey:#333333;
$dark-grey: #141414;
$light-yellow: #fee1a5;
$yellow: #fed47f;
$dark-yellow: #fdb94f;
$red: rgb(211, 17, 69);
