<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué necesito para alquilar un coche?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus rem porro facilis expedita quia,
      consequuntur architecto vitae aperiam minima qui minus vel, magni pariatur nostrum, ex dicta repellat esse
      accusamus.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué edad debo tener para alquilar un coche?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus rem porro facilis expedita quia,
      consequuntur architecto vitae aperiam minima qui minus vel, magni pariatur nostrum, ex dicta repellat esse
      accusamus.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Puedo reservar un coche para otra persona?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus rem porro facilis expedita quia,
      consequuntur architecto vitae aperiam minima qui minus vel, magni pariatur nostrum, ex dicta repellat esse
      accusamus.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cómo puedo encontrar las mejores ofertas en coches de alquiler?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus rem porro facilis expedita quia,
      consequuntur architecto vitae aperiam minima qui minus vel, magni pariatur nostrum, ex dicta repellat esse
      accusamus.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué aspectos son los más importantes a la hora de elegir un coche?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus rem porro facilis expedita quia,
      consequuntur architecto vitae aperiam minima qui minus vel, magni pariatur nostrum, ex dicta repellat esse
      accusamus.</p>
  </mat-expansion-panel>
</mat-accordion>
